@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        
<div class="container" style="text-align:center;">
    @Html.ActionLink("Haberleri Listele", "Index", "Post") ||
    @Html.ActionLink("Üyeleri Listele", "Index", "User") ||
    @Html.ActionLink("Rolleri Listele", "Index", "UserRole")
</div>
    }
}
else
{
    
}
