@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="container" style="text-align:center;">
            @Html.ActionLink(dil.Layout.HaberleriListele, "Index", "Post") ||
            @Html.ActionLink(dil.Layout.UyeleriListele, "Index", "User") ||
            @Html.ActionLink(dil.Layout.RolleriListele, "Index", "UserRole")
        </div>
    }
}
else
{
    
}
