@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Çıkış Yapıldı";
}

<hgroup>
    <h1 class="text-danger">@dil.Layout.CikisYapildi.</h1>
    <h2 class="text-danger">@dil.Layout.BuHesaptan.</h2>
</hgroup>
